

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color :#000000; ">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title style="color :#000000;">
      <strong>Log In</strong>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/friends']">
        <ion-icon slot="icon-only" md="bag-add-outline"></ion-icon>

      </ion-button>
      <ion-button [routerLink]="['/chat']">
        <ion-icon slot="icon-only" md="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
</ion-content>
