<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color :#ffffff; ">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title style="color :#ffffff;">
      <strong>Main Menu</strong>
    </ion-title>
    <ion-buttons slot="primary">
      
      <ion-button (click)="esto()">
      <ion-icon slot="icon-only" md="list-circle-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content *ngIf="hasFamily">
    <ion-card>
      <p>Se tiene una familia</p>
    </ion-card>
  </ion-content>
  


  <ion-content *ngIf="!hasFamily">
        <p style="color: black;text-align: center; ">
          No pertenece ni posee una lista familiar, solicitar ser añadido o crear una por medio del icono en la esquina superior derecha
        </p>
  </ion-content>
</ion-content>

