.my-custom-menu {
    --width: 500px;
  }

  p.textIcon {
    vertical-align: bottom;
    display: inline-block;
    margin-top: -5%;
    position: absolute;
  }

  ion-icon.test {
    vertical-align: top;
    padding-top: 28%;
    //margin-left: 4%;
    position: relative;
    width: 20px;
    height: 20px;
  }

  ion-fab-button.options {
    width: 60px;
    height: 60px;
  }

  .tooltip:hover .tooltiptext {
  visibility: visible;
}
